#About {
  height: 100%;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#About p {
  font-family: "ABeeZee", sans-serif;
}

.ResumeContainer {
  grid-column-end: 4;
  justify-self: end;
}

.ResumeContainer a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ResumeContainer img {
  height: 400px;
}

.projectsButton {
  grid-column-start: 2;
  justify-self: start;
  margin: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projectsButton p {
  margin-bottom: 5px;
}

.projectsButton:hover {
  cursor: pointer;
}

.skillContainer {
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.skillCol {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.skillItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AboutContent {
  display: flex;
  flex-direction: column;
}
