.Alert {
  background-color: var(--white);
  color: var(--dark);
  display: none;
  justify-content: space-around;
  align-items: center;
}

#exitTag {
  color: var(--red);
}

#exitTag:hover {
  cursor: pointer;
}
